<a href="https://colab.research.google.com/github/Shivam4988/Assignment/blob/main/Recursssion_Releation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

Given:

T
(
n
)
=
3
T
(
n
−
1
)
+
12
n
,
T
(
0
)
=
5
T(n)=3T(n−1)+12n,T(0)=5


Step-by-Step Calculation:

T
(
1
)
=
3
T
(
0
)
+
12
×
1
=
3
×
5
+
12
=
27
T(1)=3T(0)+12×1=3×5+12=27

T
(
2
)
=
3
T
(
1
)
+
12
×
2
=
3
×
27
+
24
=
105
T(2)=3T(1)+12×2=3×27+24=105

In [1]:
def compute_T(n):
    T = [0] * (n + 1)
    T[0] = 5  # Base case
    for i in range(1, n + 1):
        T[i] = 3 * T[i-1] + 12 * i
    return T[n]

print(f"T(2) = {compute_T(2)}")  # Output: T(2) = 105

T(2) = 105

### 2. Given a recurrence relation, solve it using the substitution method:

**a. T(n) = T(n-1) + c**



Unrolling:
T
(
n
)
=
T
(
0
)
+
c
×
n
T(n)=T(0)+c×n

Time Complexity:
Θ
(
n
)
Θ(n)

In [2]:
def T_a(n, c=2, base=0):
    if n == base:
        return 0
    return T_a(n-1, c) + c

print("T(5):", T_a(5))  # Output: 10 (Linear growth)

T(5): 10

**b. T(n) = 2T(n/2) + n**



Assume
T
(
n
)
=
n
log
⁡
n

T(n)=nlogn:
T
(
n
)
=
2
(
n
/
2
log
⁡
(
n
/
2
)
)
+
n
=
n
log
⁡
n
T(n)=2(n/2log(n/2))+n=nlogn

Time Complexity:
Θ
(
n
log
⁡
n
)
Θ(nlogn)

In [3]:
import math
def T_b(n):
    if n <= 1:
        return 0
    return 2 * T_b(n // 2) + n

n = 8
print(f"T(8): {T_b(8)}")  # Output: 24 = 8 log₂8

T(8): 24

**c. T(n) = 2T(n/2) + c**


Assume
T
(
n
)
=
k
n
−
d
T(n)=kn−d:

k
n
−
d
=
2
(
k
(
n
/
2
)
−
d
)
+
c

⟹

d
=
c
kn−d=2(k(n/2)−d)+c⟹d=c

Time Complexity:
Θ
(
n
)
Θ(n)

In [4]:
def T_c(n, c=3):
    if n == 1:
        return 0
    return 2 * T_c(n // 2, c) + c

print(f"T(8): {T_c(8)}")  # Output: 21 ≈ 3n

T(8): 21

**d. T(n) = T(n/2) + c**

After
log
⁡
2
n
log
2
​
 n steps:
T
(
n
)
=
T
(
1
)
+
c
 log
⁡
n
T(n)=T(1)+clogn

Time Complexity:
Θ
(
log
⁡
n
)
Θ(logn)

In [5]:
def T_d(n, c=2):
    if n <= 1:
        return 0
    return T_d(n // 2, c) + c

print(f"T(8): {T_d(8)}")  # Output: 6 = 2 log₂8

T(8): 6

### 3. Given a recurrence relation, solve it using the recursive tree approach:

**a. T(n) = 2T(n-1) +1**

In [6]:
def T_a(n):
    if n == 0:
        return 1  # Base case T(0) = 1
    return 2 * T_a(n-1) + 1

print(f"T(3): {T_a(3)}")  # Output: 15 = 2⁴ - 1

T(3): 15

**b. T(n) = 2T(n/2) + n**

In [8]:
import math
def T_b(n):
    if n <= 1:
        return 0
    return 2 * T_b(n // 2) + n

n = 8

print(f"T(16): {T_b(16)}")  # Output: 64 = 16 log₂16

T(16): 64